@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto/Roboto-Regular.ttf");
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

html {
    font-family: "Roboto", sans-serif;
}

body {
    display: grid; /* splits up header, body, footer */
    grid-row-gap: 10px;
    grid-template-rows: 6% auto 5%;
    align-items: start;
    margin: 0;
}

header {
    grid-row-start: 1;
    padding-top: 5mm;
    padding-bottom: 0;
    padding-left: 1.5rem;
}

header > h1 {
    color: rgb(124, 152, 245);
}

header p {
    color: #474747;
    position: relative;
    left: 0.3em;
    margin: auto;
}

main {
    grid-row-start: 2;
}

footer {
    grid-row-start: 3;
}
  
#entries {
    display: flex; /* splits up journal entries */
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#today {
    flex-grow: 2;
}

#todoTabs {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color : rgb(255, 255, 255);
    padding: 2ex 1ex;
}

#todoTabs a {
    color: #474747;
    text-align: center;
    padding: 2ex 1ex;
    text-decoration: none;
    font-size: 17px;
 }

#todoTabs a:hover {
    background-color: rgb(255, 240, 228);
    color: black;
}

#todoTabs a:active {
    color:white;
}

main + footer {
    color: #474747;
    padding: 1cm;
}

span.emph {
    display: block;
}

*.paragraph {
    display: inline;
}

.entry {
    background-color: rgb(195, 207, 247);
    max-width: 400px;
    min-width: 300px;
    padding: 30px 50px;
    margin: 20px 3%;
    color: #474747;
    border-style: solid;
    border-color:rgb(124, 152, 245);
    border-width: 1px;
    border-radius: 10px;
    animation-name: fadeIn;
	animation-timing-function: ease-in;
    animation-duration: 1s;
}

a {
    text-decoration: none;
}

#day6 {
    width: 300px;
    height: 199px;
}

#day6, #lucy {
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) { 
    .entry {
        max-width: 300px;
        min-width: 200px;
    }
}

form {
    padding: 10px 50px 30px;
}

legend {
    font-size: 20px;
}

legend ~ label {
    font-size: 20px;
    padding: 5px;
}

form input {
    margin: 10px;
}

button[class=submit] {
    padding: 5px 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #eeeeee;
}

::-webkit-scrollbar-thumb {
background: #cacaca;
}
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #9c9c9c;
  }